[cli]
api_url = http://'{{ midonet_agent_cluster_hostname }}':'{{ midonet_agent_cluster_port }}'/midonet-api
username = '{{ midonet_agent_cluster_username }}'
password = '{{ midonet_agent_cluster_password }}'
project_id = '{{ midonet_agent_cluster_project }}'
